@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

/* Default Light Theme */
:root, [data-theme='light'] {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Theme */
[data-theme='dark'] {
  --background: #171717;
  --foreground: #f0f0f0;
}

/* Apply to Body */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}
